{% extends 'base.html.twig' %}
{% block body %}

<header>
  <h1>
    Welcome to Bet'n play
  </h1>
    <nav>
      <a href=""><i class="fas fa-home"></i> Bet'n Play</a>
      <a href=""><i class="fas fa-users"></i> Profile</a>
    </nav>
</header>
<div class="vertical-menu">
  <a href="#" class="active"><i class="fas fa-futbol"></i> Bets Feed</a>
  <a href="#"><i class="fas fa-hand-holding-usd"></i> Bets</a>
</div>

{% endblock %}

