* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}


body {
	background-color: #eef3fa;
	overflow-x: hidden;
	max-height: 100vh;
    padding-bottom: 0;
}

header {
	background-color: #086c50;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	color: white;
	z-index: 10;
}

.vertical-menu {
	width: 200px;
	height: calc(100vh - 80px);
	background-color: #ffffff;
	border-right: 2px solid silver;
}

.vertical-menu div {
	color: black;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vertical-menu a {
	text-decoration: none;
}

.vertical-menu div:hover {
	background-color: #eef3fa;
}

#pari-selectionne h1, #pari-selectionne h4, #pari-selectionne h2 {
	text-align: center;
}


#pari-selectionne {
    position: absolute;
    top: 85px;
    right: 0;
    width: 45%;
    height: calc(100vh - 85px);
    background-color: white;
}

#list {
    height: calc(100vh - 120px);
    overflow-x: auto;
    padding-left: 0;
    margin-left: 0;
	z-index: 15;
}


.Pari {
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#pari-selectionne{
	z-index: 1;
	border-left: 2px solid silver;
	padding-top: 2%;
}

.search-bar{
	padding-top: 1%;
    padding-left: 0;
}

#pari-selectionne .match-details {
	margin-left : 10%;
	margin-top : 10%;
}

#listMatches {
	z-index: 1;
}

#search-container {
	position: fixed;
	z-index: 3;
}

footer {
	position: fixed;
	bottom: 0;
	left : 0;
	right : 0;
	width:100vw;
	background: BlanchedAlmond;
	z-index: 50;

}

.marquee {
	height: 25px;
	width: 100%;

	overflow: hidden;
	position: relative;
}

.marquee div {
	display: block;
	width: 200%;
	height: 30px;

	position: absolute;
	overflow: hidden;

	animation: marquee 1s linear infinite;
}

.marquee span {
	float: right;
	width: 100%;
}

.listElt:hover{
	background: darkgrey;
}

/* Page utilisateur */
.title-pen {
	color: #333;
	font-family: "Coda", sans-serif;
	text-align: center;
}
.title-pen span {
	color: #55acee;
}

.user-profile {
	margin: auto;
	width: 50%;
	height: auto;
	background: #fff;
	border-radius: .3em;
}

.user-profile  .username {
	margin: auto;
	/*margin-top: -4.40em;*/
    margin-top: -25px;
	margin-left: 5.80em;
	color: #658585;
	font-size: 1.53em;
	font-family: "Coda", sans-serif;
	font-weight: bold;
}
.user-profile  .bio {
	margin: auto;
	display: inline-block;
	margin-left: 7.60em;
	color: #e76043;
	font-family: "varela round", sans-serif;
}
.user-profile > .description {
	margin: auto;
	margin-top: 1.35em;
	margin-right: 4.43em;
	width: 14em;
	color: #c0c5c5;
	font-size: .87em;
	font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
	/*margin-left: .3em;
	margin-top: .3em;*/
	/*height: 6.23em;
	width: 6.23em;*/
    margin: 0;
    height: 10px;
    width: 10px;
	border-radius: 18em;
}

.user-profile ul.data {
	margin: auto;
	/*margin-top: 10%;*/
    margin-top: 5px;
	margin-bottom: 4%;
	height: auto;
	background: #086c50;
	text-align: center;
	border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
	padding: 1.30em;
	width: 33.33334%;
	display: table-cell;
	text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: white;
	white-space: nowrap;
	font-size: 1.27em;
	font-weight: bold;
}
.user-profile span:hover {
	color: #daebea;
}


.margin-top {
	margin-top: 0;
}

.listPari {
	text-align: center;
	background: Lavender;
	border-radius: 5px;
	margin-top: 4%;
}


#follow {
	outline: none;
	height: auto;
	text-align: center;
	width: auto;
	border-radius: 40px;
	background: #fff;
	border: 2px solid dodgerblue;
	color: dodgerblue;
	letter-spacing: 1px;
	font-size: medium;
	padding-top : 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

#follow:hover {
	 	color:white;
	 	background: dodgerblue;
}

.Teams {
	margin-bottom: 3%;
	padding-top: 2%;
}

.RealScore {
	padding-bottom: 2%;
}

.margin {
	text-align: center;
}

.text-medium {
	font-size: large;
}