* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}


body {
	background-color: #eef3fa;
	overflow-x: hidden;
	max-height: 100vh;
    padding-bottom: 0;
}

header {
	background-color: #086c50;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	color: white;
	z-index: 10;
}

.vertical-menu {
	width: 200px;
	height: calc(100vh - 80px);
	background-color: #ffffff;
	border-right: 2px solid silver;
}

.vertical-menu div {
	color: black;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vertical-menu a {
	text-decoration: none;
}

.vertical-menu div:hover {
	background-color: #eef3fa;
}

#pari-selectionne h1, #pari-selectionne h4 {
	text-align: center;
}


#pari-selectionne {
    position: absolute;
    top: 85px;
    right: 0;
    width: 45%;
    height: calc(100vh - 85px);
    background-color: white;
}

#list {
    height: calc(100vh - 120px);
    overflow-x: auto;
    padding-left: 0;
    margin-left: 0;
}


.Pari {
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#pari-selectionne{
	z-index: 1;
	border-left: 2px solid silver;
	padding-top: 2%;
}

.search-bar{
	padding-top: 1%;
    padding-left: 0;
}

#pari-selectionne .match-details {
	margin-left : 10%;
	margin-top : 10%;
}

#listMatches {
	z-index: 1;
}

#search-container {
	position: fixed;
	z-index: 3;
}
