{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}" />
{% endblock %}

{% block header %}
    Bet'n Play
{% endblock %}

{% block linkto %}
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endblock %}

{% block image %}
    <div id="image-registration">
        <img src="{{ asset('assets/images/money.png') }}" alt="money" />
    </div>
{% endblock %}

{%  block form_title %}
    Inscrivez vous ! C'est gratuit et ça le restera toujours
{%  endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
